
#tnav{display: none;}

#nnav{padding-left: 75%;
      margin-top: -50px;}
      
.nav-item{padding: 15px;}      

.lol{background: -webkit-linear-gradient(-90deg, #e69244,#e57f0b,#c04402);
     border-radius: 0px 0px 50px 50px;}

.lol h1{padding-top: 10px;
        padding-left: 20px;
       height: 30px;}                                                                 